<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=farm.name%></title>
</head>
<body>
    <h1><%=farm.name%></h1>
    <p><%=farm.city%></p>
    <p><%=farm.email%></p>
    <form action="/farms/<%=farm._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <h2>Products</h2>
    <a href="/farms/<%=farm._id%>/products/new">Add New Product</a>
    <ol>
        <% for (let product of farm.products){%>
            <li><%=product.name%></li>
        <%}%>
    </ol>
</body>
</html>