<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit <%=foundProduct.name%>
  </title>
</head>
<h2>Edit <%=foundProduct.name%> in the Grocery list:</h2>
<form action="/update/<%=foundProduct._id%>" method="post">
  <label for="name"> Enter name of Grocery:
    <input type="text" id="name" name="name" value="<%=foundProduct.name%>" required>
  </label> <br />
  <label for="price"> Enter Price per Unit:
    <input type="number" id="price" name="price" min="0" step="0.01" value="<%=foundProduct.price%>" required>
  </label> <br>
  <label for="qty"> Enter required Quantity:
    <input type="number" id="qty" name="qty" min="0" step="0.001" value="<%=foundProduct.quantity%>" required>
  </label> <br>

  <label for=" unit"> Choose the right unit:
    <select name="unit" id="unit" required>

      <%
      let options = ['kgs','dozen','ltr','nos'];
      for(let i=0; i < options.length; i++){
        let selectOrNot = (foundProduct.measurment==options[i])?'selected':'';
        %><option value="<%=options[i]%>" <%=selectOrNot%>><%=options[i]%></option><%
      }
      %>
    </select>
  </label><br>
  <button>Update to- List</button>
</form>
<a href="/"><button>Go Back</button></a>

<body>

</body>

</html>